<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451296198531-cn00qkuq036a8q4ncb21b1vse2up5rb9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451296198531-cn00qkuq036a8q4ncb21b1vse2up5rb9</string>
	<key>API_KEY</key>
	<string>AIzaSyDqLFylRrHjYVnZXpjHQpwL6Yvv1TJpcM0</string>
	<key>GCM_SENDER_ID</key>
	<string>451296198531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WashU.CSE-438-Final-Project</string>
	<key>PROJECT_ID</key>
	<string>cse438finalproject-41b2b</string>
	<key>STORAGE_BUCKET</key>
	<string>cse438finalproject-41b2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451296198531:ios:5905e9a74a9263ab5640b6</string>
</dict>
</plist>